{#{% extends "components/base.html" %}#}
{#{% load static %}#}
{#{% block main %}#}
{##}
{#    {% for image in images %}#}
{#        <div class="element" >#}
{#    <a href="#" class="block group">#}
{#              <img src="{% static image.image.url %}">#}
{##}
{#              <div class="mt-3">#}
{#                <h3 class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">#}
{#                  {{ image.author }}#}
{#                </h3>#}
{##}
{#              </div>#}
{#            </a>#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{##}
{#{% endblock main %}#}


{% extends "components/base.html" %}
{% load static %}
{% block main %}
<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">


      <div class="lg:col-span-2 lg:py-8">
        <ul class="grid grid-cols-2 gap-4">
    {% for image in images %}
          <li>
            <a href="#" class="block group">
              <img
                src="{% static image.image.url %}"
                alt="image"
                class="object-cover w-full rounded aspect-square"
              />

              <div class="mt-3">

    <a href="{% url 'delete_mem' image.id %}"><i class="fa-solid fa-trash"></i></a>


                <p class="mt-1 text-sm text-gray-700">{{ image.author }}</p>
              </div>
            </a>
          </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
        {% include "components/paginator.html" %}

{% endblock main %}