{% extends "components/base.html" %}
{% load static %}
{% load django_app_filters_and_tags %}
{% block main %}
<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Table Example</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for mem in memes %}
            <tr>
                <td>{{ mem.id }}</td>
                <td>{% bold_italic mem.title %}</td>
                <td>{% digit_beautify mem.description.data1.price %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


{% endblock main %}