<ol class="flex justify-center gap-1 text-xs font-medium">
  {% if current_page.has_next %}
    <li>
      <a href="?page={{ current_page.next_page_number }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
        <span class="sr-only">Next Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if current_page.number != 1 %}
    <li>
      <a href="?page=1" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
        <span class="sr-only">First Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
      </a>
    </li>
  {% endif %}
  {% for page_number in current_page.paginator.page_range %}
    {% if page_number == current_page.number %}
      <li class="block h-8 w-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
        {{ page_number }}
      </li>
    {% else %}
      <li>
        <a href="?page={{ page_number }}" class="block h-8 w-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
          {{ page_number }}
        </a>
      </li>
    {% endif %}
  {% endfor %}






  {% if current_page.number != current_page.paginator.num_pages %}
    <li>
      <a href="?page={{ current_page.paginator.num_pages }}" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
        <span class="sr-only">Last Page</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
      </a>
    </li>
  {% endif %}
</ol>


{##}
{#<ol class="flex justify-center gap-1 text-xs font-medium">#}
{#  <li>#}
{#    <a#}
{#      href="#"#}
{#      class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180"#}
{#    >#}
{#      <span class="sr-only">Prev Page</span>#}
{#      <svg#}
{#        xmlns="http://www.w3.org/2000/svg"#}
{#        class="h-3 w-3"#}
{#        viewBox="0 0 20 20"#}
{#        fill="currentColor"#}
{#      >#}
{#        <path#}
{#          fill-rule="evenodd"#}
{#          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"#}
{#          clip-rule="evenodd"#}
{#        />#}
{#      </svg>#}
{#    </a>#}
{#  </li>#}
{#    {% if current_page.number != 1 %}#}
{#  <li>#}
{#    <a#}
{#      href="?page=1"#}
{#      class="block h-8 w-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900"#}
{#    >#}
{#      1#}
{#    </a>#}
{#  </li>#}
{#    {% endif %}#}
{#  <li#}
{#    class="block h-8 w-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white"#}
{#  >#}
{#    2#}
{#  </li>#}
{##}
{#{% if current_page.has_previous %}#}
{#  <li>#}
{#    <a#}
{#      href="?page={{ current_page.previous_page_number }}"#}
{#      class="block h-8 w-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900"#}
{#    >#}
{#      3#}
{#    </a>#}
{#  </li>#}
{##}
{#  <li>#}
{#    <a#}
{#      href="#"#}
{#      class="block h-8 w-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900"#}
{#    >#}
{#      4#}
{#    </a>#}
{#  </li>#}
{##}
{#  <li>#}
{#    <a#}
{#      href="#"#}
{#      class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180"#}
{#    >#}
{#      <span class="sr-only">Next Page</span>#}
{#      <svg#}
{#        xmlns="http://www.w3.org/2000/svg"#}
{#        class="h-3 w-3"#}
{#        viewBox="0 0 20 20"#}
{#        fill="currentColor"#}
{#      >#}
{#        <path#}
{#          fill-rule="evenodd"#}
{#          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"#}
{#          clip-rule="evenodd"#}
{#        />#}
{#      </svg>#}
{#    </a>#}
{#  </li>#}
{#</ol>#}
{##}
{##}
{##}
{#<div class="container my-2 mb-2">#}
{#<nav aria-label="Page navigation example p-2 m-1">#}
{#  <ul class="pagination pagination-sm justify-content-center">#}
{#    {% if current_page.number != 1 %}#}
{#        <li class="page-item">#}
{#            <a href="?page=1" class="page-link">&laquo;&laquo; Первая</a>#}
{#        </li>#}
{#    {% endif %}#}
{##}
{#  {% if current_page.has_previous %}#}
{#    <li class="page-item">#}
{#      <a href="?page={{ current_page.previous_page_number }}" class="page-link">&laquo; Предыдущая</a>#}
{#    </li>#}
{#      {% else %}#}
{#      <li class="page-item disabled">#}
{#      <a href="#" class="page-link">&laquo; Предыдущая</a>#}
{#    </li>#}
{#  {% endif %}#}
{##}
{#    {% for page_number in current_page.paginator.page_range %}#}
{#        {% if page_number == current_page.number %}#}
{#            <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>#}
{#        {% else %}#}
{#            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#    {% if current_page.has_next %}#}
{#        <li class="page-item">#}
{#            <a href="?page={{ current_page.next_page_number }}" class="page-link">Следующая &raquo;</a>#}
{#        </li>#}
{#    {% else %}#}
{#        <li class="page-item disabled">#}
{#            <a href="#" class="page-link">Следующая &raquo;</a>#}
{#        </li>#}
{#    {% endif %}#}
{##}
{#    {% if current_page.number != current_page.paginator.num_pages %}#}
{#        <li class="page-item">#}
{#            <a href="?page={{ current_page.paginator.num_pages }}" class="page-link">Последняя &raquo;&raquo;</a>#}
{#        </li>#}
{#    {% endif %}#}
{##}
{#  </ul>#}
{#</nav>#}
{#</div>#}